<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel</title>
</head>
<body>
<h3>
    Shop Hotel
</h3>
<div th:each="t : ${hot}">
    <p th:text="'name = ' + ${t.getName()}"></p>
    <p th:text="'grate = ' + ${t.getGrate()}"></p>
    <p th:text="'price = ' + ${t.getPrice()}"></p>
    <a th:href="@{/asset/pro/{id}(id=${t.getId()})}">Details</a>
</div>
<h2>
    Sort as
</h2>
<hr>
<a href="/asset/all/by/price">
    Sort as price
</a>
<hr>
<hr>
<a href="/asset/all/by/grade">
    Sort as price
</a>
<hr>
</body>
</html>