<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Profile</title>
</head>
<body>
<h1>
    Your Profile
</h1>

<h3 th:text = "'Name = ' + ${userd.getName()}"></h3>
<br>
<br>
<h3 th:text = "'Surname = ' + ${userd.getSurname()}"></h3>
<br>
<br>
<h3 th:text = "'Email = ' + ${userd.getEmail()}"></h3>
<br><br>
<h3 th:text = "'Role = ' + ${userd.getRoles().name()}"></h3>

<h2>
    Your Asset
</h2>

<div th:each="y : ${userd.getHotel()}">
    <a th:href="@{/asset/pro/{id}(id=${y.getId()})}" th:text="'id = ' + ${y.getId()}"></a>
    <p th:text="'name = ' + ${y.getName()}"></p>
    <p th:text="'grade = ' + ${y.getGrate()}"></p>
    <p th:text="'price = ' + ${y.getPrice()}"></p>
    <img th:src="@{'/img/'+${y.getImg()}}" alt="Image">
</div>
<h2>
    Update your account
</h2>
<a href="/data/update">
    Update
</a>
<h2>
    Delete Profile
</h2>
<a href="/data/delete">
    Delete
</a>
<h3>
    Register by Sender
</h3>
<a href="/data/sander">
    Get by Sender
</a>
<h2>
    Added the asset if you are Sender
</h2>
<a href="/asset/create">
    Add the asset
</a>
<br><br><br>
<hr>
<h1>
    Book asset
</h1>
<div th:each="t : ${userd.getHotels()}">
    <a th:href="@{/asset/pro/{id}(id=${t.getId()})}" th:text="'id = ' + ${t.getId()}"></a>
    <p th:text="'name = ' + ${t.getName()}"></p>
    <p th:text="'grade = ' + ${t.getGrate()}"></p>
    <p th:text="'price = ' + ${t.getPrice()}"></p>
    <img th:src="@{'/img/'+${t.getImg()}}" alt="Image">
</div>
</body>
</html>